<html>
  <head>
    <title>To Do List</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <h2>Task: @Model.GetDescription</h2>
    <hr />

    <p><a href="/">Return to Main Page</a></p>
  </body>
</html>
